//  Defaults
//  ==========================================================================
//
//  These variables are wocss' defaults; they should not be modified or
//  adjusted directly; you should predefine the variables in your own project.


//  Low level base settings
//  --------------------------------------------------------------------------
//
// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.

@import "./settings.spaces";
@import "./settings.colors";


//  High-level base settings.
//  --------------------------------------------------------------------------

@import "./settings.typography";
@import "./settings.breakpoints";

$color-primary  : #7809BA !default;
$color-secondary: #D4007C !default;
$color-tertiary : #3A14BE !default;

$heading-color      : #383838 !default;
$heading-font-family: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$heading-line-height: 1.6 !default;
$heading-weight     : $fw-bold !default;

$base-background-color: $white !default;
$base-color           : #3d3d3d !default;
$base-font-family     : 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$base-font-size       : 16px !default;
$base-font-weight     : $fw-regular !default;
$base-line-height     : 1.6 !default;

$base-border-color : #cccccc !default;
$base-border-radius: 0.188em !default; // 3px
$base-border-width : 1px !default;
$base-border       : $base-border-width solid $base-border-color !default;

$base-gutter: 1rem !default;
