/*------------------------------------*\
  #Defaults
\*------------------------------------*/

// high-level base settings.

// your own project colors

$color-primary  : #7809BA !default;
$color-secondary: #D4007C !default;
$color-tertiary : #3A14BE !default;


// your own project base settings

$base-background-color: #ffffff !default;
$base-font-family     : 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$base-font-size       : 1em !default;
$base-font-weight     : 400 !default;
$base-line-height     : 1.5 !default;
$base-text-color      : #3d3d3d !default;

$base-border-color : $color-primary !default;
$base-border-radius: 0.313em !default; // 5px
$base-border-width : 1px !default;
$base-border       : $base-border-width solid $base-border-color !default;


// framework gutter

$base-spacing-unit : 1.5rem !default;





// If we have included this file, set a variable to tell the rest of the
// framework that we have some defaults settings.

$wocss-settings-defaults: true;
