/*------------------------------------*\
  #Colors
\*------------------------------------*/

//  Basic colors

$black: #000000;
$white: #ffffff;





//  Social colours

$facebook: #3b5999;
$twitter : #55acee;
$google  : #dc4e41;
$youtube : #e52d27;





//  Components colours

$text   : #5d5d5d;
$default: #e8e8e8;
$error  : #cb5234;
$warning: #edb431;
$info   : #3aa3e3;
$success: #2ab27b;





//  Rainbow colours

$silver : #dddddd;
$gray   : #aaaaaa;
$navy   : #001f3f;
$blue   : #0074d9;
$aqua   : #7fdbff;
$teal   : #39cccc;
$olive  : #3d9970;
$green  : #2ecc40;
$lime   : #01ff70;
$yellow : #ffdc00;
$orange : #ff851b;
$red    : #ff4136;
$maroon : #85144b;
$fuchsia: #f012be;
$purple : #b10dc9;





//  RGBA colours

$transparent: rgba(0, 0, 0, 0);
$full-black : rgba(0, 0, 0, 1);
$dark-black : rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black  : rgba(0, 0, 0, 0.26);
$faint-black: rgba(0, 0, 0, 0.12);
$full-white : rgba(255, 255, 255, 1);
$dark-white : rgba(255, 255, 255, 0.87);
$light-white: rgba(255, 255, 255, 0.54);
$light-grey : rgba(239, 239, 239, 1);

$darken-1: rgba(0, 0, 0, 0.0625);
$darken-2: rgba(0, 0, 0, 0.125);
$darken-3: rgba(0, 0, 0, 0.25);
$darken-4: rgba(0, 0, 0, 0.5);

$lighten-1: rgba(255, 255, 255, 0.0625);
$lighten-2: rgba(255, 255, 255, 0.125);
$lighten-3: rgba(255, 255, 255, 0.25);
$lighten-4: rgba(255, 255, 255, 0.5);
